html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #D5D5D5;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    margin-top: 5rem;
}

h1{
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase ;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 400px;
}

label{
    display: block;
    margin-bottom: 2rem;
    font-size: 20px;
    font-weight: 700;
}

input{
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px 15px;
    width: 80%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.list-div{
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-list{
    list-style-type: none;
    border-radius: 10px;
    width: 100%;
}

.todo-list-item{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    border: 1px solid #79848f;
    background-color: #9099A2;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

button{
    display: flex;
    justify-content: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
    background-color: #F4F4F4;
    border: none;
    border-radius: 20px;
    transition: all 1s ease-in-out;
}

button:hover{
    background-color: #6D7993;
    color: #F4F4F4;
    cursor: pointer;
}