:root{
    --font-family: "Josefin Sans", sans-serif;
}

.light{
    --color-background: #FFFFFF;
    --color-text: #494C6B;
    --color-background-input: #FFFFFF;
    --color-border-input: #D1D2DA;
    --color-text-complete: #9495A5;
    --color-options: #5B5E7E;
    --color-options-hover: #C8CBE7;
    --color-options-selected: #3A7CFD;
    --color-gradient1: #55DDFF;
    --color-gradient2: #C058F3;
    --background-image-mobile: url("images/bg-mobile-light.jpg");
    --background-image-desktop: url("images/bg-desktop-light.jpg");
}

.dark{
    --color-background: #171823;
    --color-text: #E3E4F1;
    --color-background-input: #25273D;
    --color-border-input: #393A4B;
    --color-text-complete: #4D5067;
    --color-options: #5B5E7E;
    --color-options-selected: #3A7CFD;
    --color-options-hover: #494C6B;
    --color-gradient1: #3710BD;
    --color-gradient2: #A42395;
    --background-image-mobile: url("images/bg-mobile-dark.jpg");
    --background-image-desktop: url("images/bg-desktop-dark.jpg");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    background-color: var(--color-background);
    padding-bottom: 4rem;
    background-image: var(--background-image-mobile);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 200px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.5rem 3rem 1.5rem;
    max-width: 1440px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
    max-width: 33.75rem;
}

.logo{
    color: #FFFFFF;
    font-size: clamp(1.4rem, 2vw, 2rem);
    font-weight: 700;
    letter-spacing: 0.5rem;
}

.theme-div:hover{
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 33.75rem;
}

form{
    width: 100%;
    margin-bottom: 1.5rem;
}

input{
    background-color: var(--color-background-input);
    border: none;
    border-radius: 5px;
    height: 48px;
    outline: none;
    padding: 0 1rem;
    width: 100%;
}

.input_error{
    border: 2px solid #db0909;
}

.todos_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todos_list{
    list-style: none;
    width: 100%;
}

.todos_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C8CBE7;
    border-radius: 5px;
    background-color: var(--color-background-input);
    min-height: 50px;
    padding: 1rem;
    width: 100%;
}

.todos_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}


.todos_paragraph{
    color: var(--color-text);
    line-height: 1.5rem;
    overflow-wrap: break-word;
    word-break: break-all;
}

.todos_eliminate{
    cursor: pointer;
}

.todos_complete{
    border: 1px solid #C8CBE7;
    border-radius: 50%;
    min-height: 1.5rem !important;
    min-width: 1.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todos_complete:hover{
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.todos_complete_done{
    background: linear-gradient(90deg, var(--color-gradient1) 0%, var(--color-gradient2) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.todos_complete_active{
    border-image: linear-gradient(var(--color-gradient1), var(--color-gradient2));
}

.options{
    background-color: var(--color-background-input);
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.items_left{
    color: var(--color-text-complete);
}

.clear_complete{
    background-color: transparent;
    border: none;
    color: var(--color-text-complete);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.clear_complete:hover{
    color: var(--color-options-selected);
}

.filter_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2rem;
}

.filter_button{
    background-color: transparent;
    border: none;
    color: var(--color-text-complete);
    font-weight: 600;
    cursor: pointer;
}

.filter_button_selected{
    background-color: transparent;
    border: none;
    color: var(--color-options-selected);
    font-weight: 600;
    cursor: pointer;
}

footer{
    margin-top: 3rem;
    bottom: 5%;
}

.drag_drop_paragraph{
    color: var(--color-text-complete);
}

@media screen and (min-width: 764px){

    body{
        background-image: var(--background-image-desktop);
        background-size: 100% 300px;
    }
}